{% extends 'olives/base.html' %}

{% block title_block %}
    Confirm Booking
{% endblock %}

{% block body_block %}

<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text">Confirm Booking</h2>
            </div>

            {% if bookings %}
                {% for booking in bookings %}
                    <h3 class="text-center">Confirmed Bookings</h3>
                    {% if booking.confirm == True %}
                        <p class="text-center"> Name: {{ booking.name }} Date: {{ booking.date }} Time: {{ booking.time }}</p>
                    {% else %}
                        <p class="text-center">No Confirmed Bookings</p>
                    {% endif %}

                    <h3 class="text-center">Unconfirmed Bookings</h3>
                    {% if booking.confirm == False %}
                        <p class="text-center"> Name: {{ booking.name }} Date: {{ booking.date }} Time: {{ booking.time }}</p>
                        <form action="{% url "olives:confirm-booking" %}" method="POST">
                        {% csrf_token %}
                            <input type="hidden" name="confirm-booking" value={{ booking.id }}>
                            <button type="submit">Confirm</button>
                        </form>
                    {% else %}
                        <p class="text-center">No Unconfirmed Bookings</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="text-center"><strong>There are no Bookings to Confirm</strong></p><br>
            {% endif %}

        </div>
    </section>
</main>
{% endblock %}