


{% extends 'olives/base.html' %} 
{% load static %} 

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Contact Us</h2>
                    <p>Use the form below to send suggestions, complaints or general feedback on your experience at Olives and Pesto!&nbsp;</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Send</button></div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}

