
{% extends 'olives/base.html' %} 
{% load static %} 

{% block title_block %}
Gallery
{% endblock %}

{% block body_block %}

    <main class="page gallery-page">
        <section class="clean-block clean-gallery dark">
            <div class="container">
                <div class="block-heading text">
                    <h2 >Gallery</h2>
                    <p>Look at our delicious food !!! </p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static "img/gallery-food/img1.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/img1.jpg" %}"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static "img/gallery-food/img2.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/img2.jpg" %}"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static "img/gallery-food/img3.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/img3.jpg" %}"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static "img/gallery-food/img4.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/img4.jpg" %}"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static "img/gallery-food/img5.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/img5.jpg" %}"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static "img/gallery-food/img6.jpg" %}"><img class="img-thumbnail img-fluid image" src="{% static "img/gallery-food/img6.jpg" %}"></a></div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}




