
{% extends 'olives/base.html' %} 
{% load static %} 

{% block title_block %}
About Us
{% endblock %}

{% block body_block %}
<main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                	<div class="se">
	                    <h2 class="text-info">Special Events</h2>
	                    <p>Click to display our upcoming events and exclusive offers. Dont miss out!</p>
                	</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box">
                        <h4>June 24 - 28 , 2020</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box">
                        <h4>August 14 - 18, 2020</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box">
                        <h4>September 19 - 23, 2020</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box">
                        <h4>December 25, 2020</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}



 