h5 {
    color: rgb(0, 0, 0) !important;
    font-family: Roboto;

}

.page-footer{
    color: #eeeeee;
    background-color: #eeeeee;
    padding-top:0;

}


.landing-page{
    background-image: url("/static/img/main-food/img1.jpg");
    color: rgba(160,183,131,0.85);
    padding-top: 0!important;
}

.clean-block{
    min-height:500px !important;

}

/* FORM STYLE */
/* Creates some override styling for form buttons different to other buttons */
.btn-form{
    background-color: rgba(160,183,131,0.85);

}

.btn-form:hover {
    color: #ffffff !important;
    background-color: #000000;
}

/* Changes the default form group hover border look */
.form-group{
    border-color:rgba(160,183,131,0.85) !important;
}
/* END OF FORM STYLE */

