/*
Name: main.css
Description: This is the main css file that will be used in the olives and pesto website.
How to Use: This css file has many sections that represent different parts of the website.
Author: Karl Gandhi
*/


/* Start of Global variables */
:root {
  	--main-bg-color: #a6ae84;
	--secondary-bg-color: #ff4f50;
	--mild-bg-color: #fff4db;

	--main-accent-color: #008037;
	--secondary-accent-color: #ff1616;

	--main-text-color:#000;

}
/* End of Global Variables */


/* Start of General Style */
h1, h2, h3 {
	color: var(--main-text-color);
}

p {
	color: var(--main-text-color);
}
/* End of General Style*/


/* Start of Navbar Style */
.navbar{
	text-transform:  uppercase;
	background-color: var(--mild-bg-color);

}

.navbar-brand{
	height: 2rem; /* Height of the navbar */
	font-size: 1rem; /* Changes font of the "Olives and Pesto" text in the nav bar */
	color: var(--main-accent-color);

}

.navbar-brand :hover{
	color: var(--secondary-accent-color) !important;
}

.nav-link{
	font-size: 0.75rem; /* Changes font of the menu items in the nav bar */
	color: var(--main-accent-color) !important; /* Changes font color of the menu items in the nav bar */

}

.nav-item :hover{
	color: var(--secondary-accent-color) !important;
}

.navbar-toggler {
  background: var(--main-accent-color) !important;  /* Changes the toggle button colour */

}
/* End of Navbar Style */


/* Start of Footer Style */
.footer {
	position: relative;
	background: #eeeeee;
	padding-top: 2rem;
	text-align: center;
}
/* End of Footer Style */

.home{
	position: relative;
}

